{%extends 'base.html'%}{%block title%} Create a New User{%endblock%}{%block
content%}
<div class="container">
  <h1>Create a New User</h1>
  <div>
    <form action="/users/new" method="POST">
      <div class="input-group mb-2">
        <span class="input-group-text" id="first_name">First Name: </span>
        <input
          type="text"
          class="form-control"
          name="first_name"
          aria-describedby="first_name"
          placeholder="Enter a first name"
          required
        />
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="last_name">Last Name: </span>
        <input
          type="text"
          class="form-control"
          name="last_name"
          aria-describedby="last_name"
          placeholder="Enter a last name"
          required
        />
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="image_url">Image URL: </span>
        <input
          type="text"
          class="form-control"
          name="image_url"
          aria-describedby="image_url"
          placeholder="Provide an image of this user"
        />
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success">Add</button>
      </div>
    </form>
  </div>
</div>

{%endblock%}
