{%extends 'base.html'%}{%block title%} {{user.first_name}} {{user.last_name}}
Details {%endblock%}{%block content%}
<div class="container">
  <div class="d-flex flex-row mt-2">
    <div class="pe-3" style="width: 200px; height: 200px">
      <img src="{{user.image_url}}" alt="User Image" class="img-thumbnail" />
    </div>

    <div>
      <h1>{{user.first_name}} {{user.last_name}} Details</h1>
      <form action="/users/{{user.id}}/delete" method="POST">
        <a href="/users" class="btn btn-info">Home</a>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
        <button class="btn btn-danger">Delete</button>
      </form>
      <div>
        <h3>Posts</h3>
        <ul>
          {%for post in posts%}
          <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
          {%endfor%}
        </ul>
        <a href="/users/{{user.id}}/posts/new" class="btn btn-primary"
          >Add Post</a
        >
      </div>
    </div>
  </div>
</div>

{%endblock%}
